gui_application/.dashboard.json.backup
[{"id":"28c42850.e943b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33470393.6d936c","type":"ui_group","z":"","name":"System info","tab":"84950823.9f2c48","order":2,"disp":true,"width":8,"collapse":false},{"id":"bf7beb4a.321e98","type":"ui_group","z":"","name":"Memory","tab":"84950823.9f2c48","order":3,"disp":true,"width":"7","collapse":false},{"id":"2a7f494d.5d4ff6","type":"ui_group","z":"","name":"Contol Station","tab":"84950823.9f2c48","order":1,"disp":true,"width":9,"collapse":false},{"id":"84950823.9f2c48","type":"ui_tab","z":"","name":"Boat interface","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"36e2adae.6a2882","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#224c98","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#2c398a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#2c398a","edited":true},"page-titlebar-backgroundColor":{"value":"#2c398a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#4052c2","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2c398a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c427bed5.d72a1","type":"function","z":"28c42850.e943b8","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":820,"wires":[["1d878ebb.4ca8b1"]]},{"id":"1d878ebb.4ca8b1","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":2,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":662.5,"y":820,"wires":[]},{"id":"1cc2f38b.a89b6c","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":1,"width":8,"height":1,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":647.5,"y":858.75,"wires":[]},{"id":"dc2f71ba.f7e8e","type":"function","z":"28c42850.e943b8","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":482.5,"y":866.2500019073486,"wires":[["1cc2f38b.a89b6c"]]},{"id":"50067322.871c2c","type":"function","z":"28c42850.e943b8","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":481.25,"y":915.0000019073486,"wires":[["4614be5c.d7fb6"]]},{"id":"381df169.314dee","type":"function","z":"28c42850.e943b8","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":473.75,"y":957.5000019073486,"wires":[["50ffd25e.9c451c"]]},{"id":"4614be5c.d7fb6","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":3,"width":0,"height":0,"name":"platform","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":656.25,"y":900.0000019073486,"wires":[]},{"id":"50ffd25e.9c451c","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":4,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":648.75,"y":943.7500019073486,"wires":[]},{"id":"b985af5f.240ac","type":"function","z":"28c42850.e943b8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1180,"wires":[["ff11722c.d7e6"]]},{"id":"ff11722c.d7e6","type":"ui_gauge","z":"28c42850.e943b8","name":"Memory Usage","group":"bf7beb4a.321e98","order":2,"width":0,"height":0,"gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645.2500038146973,"y":1176.5,"wires":[]},{"id":"5096222c.b5222c","type":"function","z":"28c42850.e943b8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":474.5,"y":1220.5000009536743,"wires":[["e38549e1.bce208"]]},{"id":"43c351d9.44e8c","type":"function","z":"28c42850.e943b8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":476.25000381469727,"y":1260.2500019073486,"wires":[["a2d50c05.83b33"]]},{"id":"e38549e1.bce208","type":"ui_text","z":"28c42850.e943b8","group":"bf7beb4a.321e98","order":3,"width":0,"height":0,"name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":646.7500038146973,"y":1219.4999980926514,"wires":[]},{"id":"a2d50c05.83b33","type":"ui_text","z":"28c42850.e943b8","group":"bf7beb4a.321e98","order":4,"width":0,"height":0,"name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":632.0000038146973,"y":1261.2500009536743,"wires":[]},{"id":"7774aa6c.d22964","type":"function","z":"28c42850.e943b8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":472.00000381469727,"y":1137.2499990463257,"wires":[["3c037bd4.096b64"]]},{"id":"3c037bd4.096b64","type":"ui_chart","z":"28c42850.e943b8","name":"Memory - 24 Hours","group":"bf7beb4a.321e98","order":1,"width":0,"height":0,"label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":656.2500038146973,"y":1129,"wires":[[]]},{"id":"b2d121f3.9adad","type":"function","z":"28c42850.e943b8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":448.74999618530273,"y":1323.7499923706055,"wires":[["d2ad42b9.2c127"]]},{"id":"d2ad42b9.2c127","type":"ui_chart","z":"28c42850.e943b8","name":"Memory - 24 Hours","group":"bf7beb4a.321e98","order":5,"width":0,"height":0,"label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":632.9999961853027,"y":1315.4999933242798,"wires":[[]]},{"id":"dfac617f.c0b81","type":"OS","z":"28c42850.e943b8","name":"","x":310,"y":880,"wires":[["381df169.314dee","50067322.871c2c","dc2f71ba.f7e8e","c427bed5.d72a1"]]},{"id":"57e958b6.791228","type":"Memory","z":"28c42850.e943b8","name":"","x":300,"y":1200,"wires":[["b2d121f3.9adad","43c351d9.44e8c","5096222c.b5222c","b985af5f.240ac","7774aa6c.d22964"]]},{"id":"a6b7a65e.3eff98","type":"inject","z":"28c42850.e943b8","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":140,"y":1040,"wires":[["57e958b6.791228","dfac617f.c0b81"]]},{"id":"a36dc941.7b4c48","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Source","tooltip":"","group":"2a7f494d.5d4ff6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":100,"wires":[["43ec672f.a32cc8"]]},{"id":"43ec672f.a32cc8","type":"exec","z":"28c42850.e943b8","command":". ~/vanttec_usv_ws/devel/setup.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":100,"wires":[["ba390cb5.b76c"],["ba390cb5.b76c"],["ba390cb5.b76c"]]},{"id":"ba390cb5.b76c","type":"debug","z":"28c42850.e943b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":100,"wires":[]},{"id":"3845dcd8.f813c4","type":"catch","z":"28c42850.e943b8","name":"","scope":null,"uncaught":false,"x":100,"y":760,"wires":[["d9f03c72.91f11"]]},{"id":"d8806051.434db","type":"ui_toast","z":"28c42850.e943b8","position":"top right","displayTime":"4","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":470,"y":760,"wires":[]},{"id":"d9f03c72.91f11","type":"change","z":"28c42850.e943b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":760,"wires":[["d8806051.434db"]]},{"id":"d0d9c748.6462b8","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":300,"wires":[]},{"id":"2874a8bf.6d9788","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /usv_comms/ui_decoder/mission_tasks","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":480,"y":300,"wires":[["d0d9c748.6462b8","b0b1b35.de35b5"],["d0d9c748.6462b8"],["d0d9c748.6462b8"]]},{"id":"b86d5aff.bfed88","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Start station","tooltip":"","group":"2a7f494d.5d4ff6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":220,"wires":[["5b13cff5.a2a3c"]]},{"id":"5b13cff5.a2a3c","type":"exec","z":"28c42850.e943b8","command":" rosrun usv_comms ui_decoder.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":400,"y":220,"wires":[["559d036e.72328c"],["559d036e.72328c"],["559d036e.72328c"]]},{"id":"559d036e.72328c","type":"debug","z":"28c42850.e943b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"6ca04ab3.a34a24","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Mission (Course_tasks)","tooltip":"","group":"2a7f494d.5d4ff6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":300,"wires":[["2874a8bf.6d9788"]]},{"id":"b0b1b35.de35b5","type":"ui_text","z":"28c42850.e943b8","group":"2a7f494d.5d4ff6","order":5,"width":0,"height":0,"name":"","label":"Listener course_tasks","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":260,"wires":[]},{"id":"80008275.6bd81","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":380,"wires":[]},{"id":"2bad2e4c.81a6a2","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /usv_comms/ui_decoder/mission_state","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":480,"y":380,"wires":[["80008275.6bd81","5e496ae2.539c04"],["80008275.6bd81"],["80008275.6bd81"]]},{"id":"53ca15e.1d74cec","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Mission_state","tooltip":"","group":"2a7f494d.5d4ff6","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":380,"wires":[["2bad2e4c.81a6a2"]]},{"id":"5e496ae2.539c04","type":"ui_text","z":"28c42850.e943b8","group":"2a7f494d.5d4ff6","order":7,"width":0,"height":0,"name":"","label":"Listener mission_state","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":340,"wires":[]},{"id":"610782f8.428c2c","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":460,"wires":[]},{"id":"390323d6.eaec1c","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /usv_comms/ui_decoder/object_detected_list","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":500,"y":460,"wires":[["610782f8.428c2c","68cd1a5d.d3c0c4"],["610782f8.428c2c"],["610782f8.428c2c"]]},{"id":"7f505c4f.2a5264","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Object_detected_list","tooltip":"","group":"2a7f494d.5d4ff6","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":460,"wires":[["390323d6.eaec1c"]]},{"id":"68cd1a5d.d3c0c4","type":"ui_text","z":"28c42850.e943b8","group":"2a7f494d.5d4ff6","order":9,"width":0,"height":0,"name":"","label":"Listener object_detected_list","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":420,"wires":[]},{"id":"79ae08dc.ecdc28","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":540,"wires":[]},{"id":"a83c1373.15d6a","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /usv_comms/ui_decoder/gps_pose","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":470,"y":540,"wires":[["79ae08dc.ecdc28","8870f1fd.667e5"],["79ae08dc.ecdc28"],["79ae08dc.ecdc28"]]},{"id":"de3bae1f.757ef","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Gps_pose","tooltip":"","group":"2a7f494d.5d4ff6","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":540,"wires":[["a83c1373.15d6a"]]},{"id":"8870f1fd.667e5","type":"ui_text","z":"28c42850.e943b8","group":"2a7f494d.5d4ff6","order":11,"width":0,"height":0,"name":"","label":"Listener gps_pose","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":500,"wires":[]},{"id":"b6019dfb.115fb","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":620,"wires":[]},{"id":"aa060dbe.80a18","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /usv_comms/ui_decoder/target","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":450,"y":620,"wires":[["b6019dfb.115fb","c4f76f30.a95e9"],["b6019dfb.115fb"],["b6019dfb.115fb"]]},{"id":"f6c667d5.8d2d08","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Target","tooltip":"","group":"2a7f494d.5d4ff6","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":620,"wires":[["aa060dbe.80a18"]]},{"id":"c4f76f30.a95e9","type":"ui_text","z":"28c42850.e943b8","group":"2a7f494d.5d4ff6","order":13,"width":0,"height":0,"name":"","label":"Listener target","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":580,"wires":[]}]