gui_application/dashboard.json
[{"id":"1325509a.6d045f","type":"tab","label":"myDashbard"},{"id":"76eedf52.d35ab","type":"OS","z":"1325509a.6d045f","name":"","x":304.50000762939453,"y":68.50000190734863,"wires":[["429d51f0.06dcc","9f5e15bb.7bbf88","33cc6026.572b","3860b9a2.970816"]]},{"id":"82ffd414.43f6d8","type":"inject","z":"1325509a.6d045f","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":115.25,"y":106.75000190734863,"wires":[["76eedf52.d35ab","842d29f8.79d9c8"]]},{"id":"1b2ecdc7.bc7ca2","type":"comment","z":"1325509a.6d045f","name":"OS","info":"","x":85.5,"y":62.75,"wires":[]},{"id":"429d51f0.06dcc","type":"function","z":"1325509a.6d045f","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":497.50000762939453,"y":41.25000190734863,"wires":[["b8faf229.1ffa9"]]},{"id":"b8faf229.1ffa9","type":"ui_text","z":"1325509a.6d045f","group":"3e9bd8b1.775888","order":2,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":680.0000076293945,"y":41.25000190734863,"wires":[]},{"id":"d65929d8.49c678","type":"ui_text","z":"1325509a.6d045f","group":"3e9bd8b1.775888","order":1,"width":0,"height":0,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":665.0000076293945,"y":80.00000190734863,"wires":[]},{"id":"9f5e15bb.7bbf88","type":"function","z":"1325509a.6d045f","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":500.00000762939453,"y":87.50000381469727,"wires":[["d65929d8.49c678"]]},{"id":"33cc6026.572b","type":"function","z":"1325509a.6d045f","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":498.75000762939453,"y":136.25000381469727,"wires":[["d0e99c11.e1b38"]]},{"id":"3860b9a2.970816","type":"function","z":"1325509a.6d045f","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":491.25000762939453,"y":178.75000381469727,"wires":[["761f6eb1.67761"]]},{"id":"d0e99c11.e1b38","type":"ui_text","z":"1325509a.6d045f","group":"3e9bd8b1.775888","order":0,"width":0,"height":0,"name":"platform","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":673.7500076293945,"y":121.25000381469727,"wires":[]},{"id":"761f6eb1.67761","type":"ui_text","z":"1325509a.6d045f","group":"3e9bd8b1.775888","order":0,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":666.2500076293945,"y":165.00000381469727,"wires":[]},{"id":"26e33d12.b142e2","type":"function","z":"1325509a.6d045f","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":496.25000381469727,"y":280.00000762939453,"wires":[["f73e1a23.08b4a8"]]},{"id":"f73e1a23.08b4a8","type":"ui_gauge","z":"1325509a.6d045f","name":"Memory Usage","group":"2397a413.a593bc","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":671.5000076293945,"y":276.50000762939453,"wires":[]},{"id":"3c88d2d2.ae63ae","type":"function","z":"1325509a.6d045f","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":500.75000381469727,"y":320.50000858306885,"wires":[["b1ee525d.562b6"]]},{"id":"20adaf46.492a2","type":"function","z":"1325509a.6d045f","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":502.50000762939453,"y":360.25000953674316,"wires":[["a160521f.660a3"]]},{"id":"b1ee525d.562b6","type":"ui_text","z":"1325509a.6d045f","group":"2397a413.a593bc","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":673.0000076293945,"y":319.5000057220459,"wires":[]},{"id":"a160521f.660a3","type":"ui_text","z":"1325509a.6d045f","group":"2397a413.a593bc","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":658.2500076293945,"y":361.25000858306885,"wires":[]},{"id":"7b6a16ef.4666a8","type":"function","z":"1325509a.6d045f","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":498.25000762939453,"y":237.25000667572021,"wires":[["41bca54c.3ed9dc"]]},{"id":"41bca54c.3ed9dc","type":"ui_chart","z":"1325509a.6d045f","name":"Memory - 24 Hours","group":"2397a413.a593bc","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":682.5000076293945,"y":229.00000762939453,"wires":[[],[]]},{"id":"e06ae9cf.9e1d08","type":"comment","z":"1325509a.6d045f","name":"Memory Usage","info":"","x":303.75000762939453,"y":141.50000286102295,"wires":[]},{"id":"842d29f8.79d9c8","type":"Memory","z":"1325509a.6d045f","name":"","x":305.00000762939453,"y":193.7500057220459,"wires":[["7b6a16ef.4666a8","26e33d12.b142e2","3c88d2d2.ae63ae","20adaf46.492a2","27b3674d.7281f8"]]},{"id":"7870e47e.31446c","type":"comment","z":"1325509a.6d045f","name":"Arduino","info":"","x":106.25000381469727,"y":360.0000057220459,"wires":[]},{"id":"22c7ea7b.6a7666","type":"ui_switch","z":"1325509a.6d045f","name":"","label":"switch","group":"943e6320.959e","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":111.25,"y":402.5000057220459,"wires":[["5dd26357.7a694c","a03e16eb.336168"]]},{"id":"5dd26357.7a694c","type":"ui_text","z":"1325509a.6d045f","group":"943e6320.959e","order":2,"width":0,"height":0,"name":"LED","label":"LedState","format":"{{msg.payload}}","layout":"row-spread","x":236.25000381469727,"y":328.7500057220459,"wires":[]},{"id":"613f9d35.400be4","type":"twitter in","z":"1325509a.6d045f","twitter":"","tags":"","user":"true","name":"","topic":"tweets","inputs":1,"x":193.75,"y":501.25000762939453,"wires":[["11846c30.3d48d4"]]},{"id":"11846c30.3d48d4","type":"ui_template","z":"1325509a.6d045f","group":"a7f964a9.dbe978","name":"TwitterPosts","order":0,"width":"6","height":"3","format":"Lastest posts\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"x":453.75000762939453,"y":471.2500071525574,"wires":[[]]},{"id":"2e7b9650.a5fcea","type":"comment","z":"1325509a.6d045f","name":"Twitter","info":"","x":112.50000381469727,"y":458.7500069141388,"wires":[]},{"id":"a03e16eb.336168","type":"ui_slider","z":"1325509a.6d045f","name":"","label":"slider","group":"943e6320.959e","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":250.00000381469727,"y":380.0000057220459,"wires":[["c455f494.450ed8"]]},{"id":"922e945c.007c48","type":"openweathermap in","z":"1325509a.6d045f","name":"Weather","lon":"","lat":"","city":"Tunis","country":"Tunisia","language":"en","x":120,"y":600.0000085830688,"wires":[["fa25b69b.af6538","26712c4a.f197e4","6353018a.cf15c","ed8154e8.1900e8"]]},{"id":"c6713727.689a98","type":"ui_text","z":"1325509a.6d045f","group":"c48c450b.176db8","order":0,"width":0,"height":0,"name":"wather","label":"weather today","format":"{{msg.payload}}","layout":"row-spread","x":515.0000076293945,"y":561.2500095367432,"wires":[]},{"id":"fa25b69b.af6538","type":"function","z":"1325509a.6d045f","name":"weatherState","func":"msg.payload = msg.payload.weather\nreturn msg;","outputs":1,"noerr":0,"x":323.75000762939453,"y":576.2500095367432,"wires":[["c6713727.689a98"]]},{"id":"a4761df7.acebd","type":"comment","z":"1325509a.6d045f","name":"weather","info":"","x":111.25,"y":557.5000081062317,"wires":[]},{"id":"26712c4a.f197e4","type":"function","z":"1325509a.6d045f","name":"Loacation","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":315.00000762939453,"y":612.5000095367432,"wires":[["97b07b4a.9dcee8"]]},{"id":"6353018a.cf15c","type":"function","z":"1325509a.6d045f","name":"detail","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":308.75000381469727,"y":658.7500095367432,"wires":[["4393fd0b.c50614"]]},{"id":"97b07b4a.9dcee8","type":"ui_text","z":"1325509a.6d045f","group":"c48c450b.176db8","order":0,"width":0,"height":0,"name":"Location","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":521.25,"y":611.25,"wires":[]},{"id":"4393fd0b.c50614","type":"ui_text","z":"1325509a.6d045f","group":"c48c450b.176db8","order":0,"width":0,"height":0,"name":"detail","label":"detail","format":"{{msg.payload}}","layout":"row-spread","x":512.5000076293945,"y":657.5000095367432,"wires":[]},{"id":"ed8154e8.1900e8","type":"function","z":"1325509a.6d045f","name":"description","func":"msg.payload = msg.payload.description\nreturn msg;","outputs":1,"noerr":0,"x":325.00000381469727,"y":698.7500114440918,"wires":[["529e9a2f.83ba64"]]},{"id":"529e9a2f.83ba64","type":"ui_text","z":"1325509a.6d045f","group":"c48c450b.176db8","order":0,"width":0,"height":0,"name":"description","label":"","format":"{{msg.payload}}","layout":"row-center","x":531.2500076293945,"y":698.7500104904175,"wires":[]},{"id":"27b3674d.7281f8","type":"function","z":"1325509a.6d045f","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":475,"y":423.75,"wires":[["b3af7e9d.7df4b"]]},{"id":"b3af7e9d.7df4b","type":"ui_chart","z":"1325509a.6d045f","name":"Memory - 24 Hours","group":"943e6320.959e","order":5,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":659.25,"y":415.5000009536743,"wires":[[],[]]},{"id":"cd3d0ecd.32037","type":"comment","z":"1325509a.6d045f","name":"Sarahah","info":"","x":643.7500076293945,"y":475.0000066757202,"wires":[]},{"id":"a8c079c.1f53088","type":"http in","z":"1325509a.6d045f","name":"","url":"127.0.0.1","method":"get","swaggerDoc":"","x":650.0000114440918,"y":513.7500076293945,"wires":[["b25a5fb7.4017c"]]},{"id":"b25a5fb7.4017c","type":"ui_text","z":"1325509a.6d045f","group":"bc30239c.056a9","order":0,"width":0,"height":0,"name":"","label":"Saraha Inbox","format":"0","layout":"row-spread","x":858.7500114440918,"y":505.00000762939453,"wires":[]},{"id":"b7ae652c.fb19b8","type":"ui_toast","z":"1325509a.6d045f","position":"top right","displayTime":"2","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":903.7500152587891,"y":677.5000097751617,"wires":[]},{"id":"c455f494.450ed8","type":"ui_text","z":"1325509a.6d045f","group":"943e6320.959e","order":4,"width":0,"height":0,"name":"SlideValue","label":"","format":"{{msg.payload}}","layout":"col-center","x":303.75,"y":441.25,"wires":[]},{"id":"b847ae9b.586f8","type":"comment","z":"1325509a.6d045f","name":"Iheb.B.Salem @Ihebski","info":"","x":295,"y":20,"wires":[]},{"id":"97667408.76eac8","type":"ui_form","z":"1325509a.6d045f","name":"","label":"","group":"58ce6008.a58c7","order":0,"width":0,"height":0,"options":[{"label":"Tweet","value":"mytxt","type":"text","required":true}],"formValue":{"mytxt":""},"payload":"","topic":"","x":642.5000076293945,"y":598.7500095367432,"wires":[["4cfc7d28.f59444","ce0134fc.f1e558"]]},{"id":"4cfc7d28.f59444","type":"function","z":"1325509a.6d045f","name":"","func":"msg.payload = msg.payload.mytxt;\nreturn msg;","outputs":1,"noerr":0,"x":758.7500114440918,"y":620.0000095367432,"wires":[["b6c99620.4bc648"]]},{"id":"cc5b71e3.247c4","type":"comment","z":"1325509a.6d045f","name":"postToTwitter","info":"","x":668.7500114440918,"y":557.5000076293945,"wires":[]},{"id":"ce0134fc.f1e558","type":"function","z":"1325509a.6d045f","name":"","func":"msg.payload = msg.payload.mytxt +\" @Ih3b_b3N_s4l3m [200 ok]\";\nreturn msg;","outputs":1,"noerr":0,"x":716.2500152587891,"y":665.0000095367432,"wires":[["b7ae652c.fb19b8"]]},{"id":"b6c99620.4bc648","type":"twitter out","z":"1325509a.6d045f","twitter":"","name":"Tweet","x":881.2500152587891,"y":601.2500095367432,"wires":[]},{"id":"ed59d78f.491068","type":"comment","z":"1325509a.6d045f","name":"Welcome !","info":"","x":807.5000152587891,"y":91.25000095367432,"wires":[]},{"id":"f39028fa.4b1238","type":"inject","z":"1325509a.6d045f","name":"","topic":"","payload":"Thank you ! ","payloadType":"str","repeat":"","crontab":"","once":false,"x":840.0000152587891,"y":141.25000190734863,"wires":[["634a003e.3b753"]]},{"id":"634a003e.3b753","type":"debug","z":"1325509a.6d045f","name":"","active":true,"console":"false","complete":"false","x":982.5000152587891,"y":106.25000286102295,"wires":[]},{"id":"3e9bd8b1.775888","type":"ui_group","z":"","name":"Sysinfo","tab":"803ea2f6.d503a","order":1,"disp":true,"width":"6"},{"id":"2397a413.a593bc","type":"ui_group","z":"","name":"Memory","tab":"803ea2f6.d503a","order":2,"disp":true,"width":"6"},{"id":"943e6320.959e","type":"ui_group","z":"","name":"Arduino","tab":"803ea2f6.d503a","order":3,"disp":true,"width":"6"},{"id":"a7f964a9.dbe978","type":"ui_group","z":"","name":"TwitterPosts","tab":"803ea2f6.d503a","order":4,"disp":true,"width":"6"},{"id":"c48c450b.176db8","type":"ui_group","z":"","name":"Weather","tab":"803ea2f6.d503a","order":5,"disp":true,"width":"6"},{"id":"bc30239c.056a9","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"803ea2f6.d503a","order":6,"disp":true,"width":"6"},{"id":"58ce6008.a58c7","type":"ui_group","z":"","name":"Tweets","tab":"803ea2f6.d503a","order":7,"disp":true,"width":"6"},{"id":"803ea2f6.d503a","type":"ui_tab","z":"","name":"Good afternoon, Iheb (your feeds today )","icon":"dashboard"}]
