gui_application/usv_webui.json
[{"id":"28c42850.e943b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c427bed5.d72a1","type":"function","z":"28c42850.e943b8","name":"hostname","func":"msg.payload = msg.payload.hostname; \n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1080,"wires":[["1d878ebb.4ca8b1"]]},{"id":"1d878ebb.4ca8b1","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":2,"width":0,"height":0,"name":"hostname","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":662.5,"y":1080,"wires":[]},{"id":"1cc2f38b.a89b6c","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":1,"width":8,"height":1,"name":"OS","label":"OS","format":"{{msg.payload}}","layout":"row-spread","x":647.5,"y":1118.75,"wires":[]},{"id":"dc2f71ba.f7e8e","type":"function","z":"28c42850.e943b8","name":"osType","func":"msg.payload = msg.payload.type; \nreturn msg;","outputs":1,"noerr":0,"x":482.5,"y":1126.2500019073486,"wires":[["1cc2f38b.a89b6c"]]},{"id":"50067322.871c2c","type":"function","z":"28c42850.e943b8","name":"platform","func":"msg.payload = msg.payload.platform; \nreturn msg;","outputs":1,"noerr":0,"x":481.25,"y":1175.0000019073486,"wires":[["4614be5c.d7fb6"]]},{"id":"381df169.314dee","type":"function","z":"28c42850.e943b8","name":"arch","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":473.75,"y":1217.5000019073486,"wires":[["50ffd25e.9c451c"]]},{"id":"4614be5c.d7fb6","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":3,"width":0,"height":0,"name":"platform","label":"platform","format":"{{msg.payload}}","layout":"row-spread","x":656.25,"y":1160.0000019073486,"wires":[]},{"id":"50ffd25e.9c451c","type":"ui_text","z":"28c42850.e943b8","group":"33470393.6d936c","order":4,"width":0,"height":0,"name":"arch","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":648.75,"y":1203.7500019073486,"wires":[]},{"id":"b985af5f.240ac","type":"function","z":"28c42850.e943b8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1440,"wires":[["ff11722c.d7e6"]]},{"id":"ff11722c.d7e6","type":"ui_gauge","z":"28c42850.e943b8","name":"Memory Usage","group":"bf7beb4a.321e98","order":2,"width":0,"height":0,"gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645.2500038146973,"y":1436.5,"wires":[]},{"id":"5096222c.b5222c","type":"function","z":"28c42850.e943b8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":474.5,"y":1480.5000009536743,"wires":[["e38549e1.bce208"]]},{"id":"43c351d9.44e8c","type":"function","z":"28c42850.e943b8","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":476.25000381469727,"y":1520.2500019073486,"wires":[["a2d50c05.83b33"]]},{"id":"e38549e1.bce208","type":"ui_text","z":"28c42850.e943b8","group":"bf7beb4a.321e98","order":3,"width":0,"height":0,"name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":646.7500038146973,"y":1479.4999980926514,"wires":[]},{"id":"a2d50c05.83b33","type":"ui_text","z":"28c42850.e943b8","group":"bf7beb4a.321e98","order":4,"width":0,"height":0,"name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":632.0000038146973,"y":1521.2500009536743,"wires":[]},{"id":"7774aa6c.d22964","type":"function","z":"28c42850.e943b8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":472.00000381469727,"y":1397.2499990463257,"wires":[["3c037bd4.096b64"]]},{"id":"3c037bd4.096b64","type":"ui_chart","z":"28c42850.e943b8","name":"Memory - 24 Hours","group":"bf7beb4a.321e98","order":1,"width":0,"height":0,"label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":656.2500038146973,"y":1389,"wires":[[]]},{"id":"b2d121f3.9adad","type":"function","z":"28c42850.e943b8","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":448.74999618530273,"y":1583.7499923706055,"wires":[["d2ad42b9.2c127"]]},{"id":"d2ad42b9.2c127","type":"ui_chart","z":"28c42850.e943b8","name":"Memory - 24 Hours","group":"bf7beb4a.321e98","order":5,"width":0,"height":0,"label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":632.9999961853027,"y":1575.4999933242798,"wires":[[]]},{"id":"dfac617f.c0b81","type":"OS","z":"28c42850.e943b8","name":"","x":310,"y":1140,"wires":[["381df169.314dee","50067322.871c2c","dc2f71ba.f7e8e","c427bed5.d72a1"]]},{"id":"57e958b6.791228","type":"Memory","z":"28c42850.e943b8","name":"","x":300,"y":1460,"wires":[["b2d121f3.9adad","43c351d9.44e8c","5096222c.b5222c","b985af5f.240ac","7774aa6c.d22964"]]},{"id":"a6b7a65e.3eff98","type":"inject","z":"28c42850.e943b8","name":"update","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":140,"y":1300,"wires":[["57e958b6.791228","dfac617f.c0b81"]]},{"id":"a36dc941.7b4c48","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Source","tooltip":"","group":"2a7f494d.5d4ff6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":100,"wires":[["43ec672f.a32cc8"]]},{"id":"43ec672f.a32cc8","type":"exec","z":"28c42850.e943b8","command":". ~/tutorials_ws/devel/setup.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":100,"wires":[["ba390cb5.b76c"],["ba390cb5.b76c"],["ba390cb5.b76c"]]},{"id":"ba390cb5.b76c","type":"debug","z":"28c42850.e943b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":100,"wires":[]},{"id":"67eaff3d.17e5c","type":"function","z":"28c42850.e943b8","name":"Check user input ","func":"var host = flow.get(\"challenge\");\nif(!host){\n    node.error(\"host is empty\",msg)\n    return null; //halt flow\n}\n\n//temporary debug - set payload with string version for demo notification\n\nmsg.payload = host;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["c8482389.c9841","e77e67cc.34f858","d41b73d5.5652b"]]},{"id":"c17fe639.977698","type":"ui_text_input","z":"28c42850.e943b8","name":"","label":"Challenge","tooltip":"","group":"2a7f494d.5d4ff6","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"200","topic":"val","x":100,"y":300,"wires":[["90953a6c.704ae8"]]},{"id":"90953a6c.704ae8","type":"change","z":"28c42850.e943b8","name":"","rules":[{"t":"set","p":"challenge","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[[]]},{"id":"9c15f99c.620438","type":"ui_button","z":"28c42850.e943b8","name":"","group":"2a7f494d.5d4ff6","order":6,"width":0,"height":0,"passthru":false,"label":"Submit Challenge","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":340,"wires":[["67eaff3d.17e5c"]]},{"id":"c8482389.c9841","type":"debug","z":"28c42850.e943b8","name":"Debug check user input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":340,"wires":[]},{"id":"3845dcd8.f813c4","type":"catch","z":"28c42850.e943b8","name":"","scope":null,"uncaught":false,"x":100,"y":520,"wires":[["d9f03c72.91f11"]]},{"id":"d8806051.434db","type":"ui_toast","z":"28c42850.e943b8","position":"top right","displayTime":"4","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":450,"y":520,"wires":[]},{"id":"d9f03c72.91f11","type":"change","z":"28c42850.e943b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":520,"wires":[["d8806051.434db"]]},{"id":"e77e67cc.34f858","type":"ui_toast","z":"28c42850.e943b8","position":"top right","displayTime":"4","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":280,"wires":[]},{"id":"d41b73d5.5652b","type":"exec","z":"28c42850.e943b8","command":"rostopic std_msgs/Int32 \"data: ","addpay":true,"append":"\"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":400,"wires":[["2de2c83d.e1a878"],["2de2c83d.e1a878"],["2de2c83d.e1a878"]]},{"id":"2de2c83d.e1a878","type":"debug","z":"28c42850.e943b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":400,"wires":[]},{"id":"d0d9c748.6462b8","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":600,"wires":[]},{"id":"a7e6525c.950ee","type":"ui_toast","z":"28c42850.e943b8","position":"top right","displayTime":"4","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":610,"y":640,"wires":[]},{"id":"2874a8bf.6d9788","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /chatter ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":600,"wires":[["d0d9c748.6462b8","ba466569.d716d8"],["d0d9c748.6462b8"],["a7e6525c.950ee","d0d9c748.6462b8"]]},{"id":"e9321ccd.5811b","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Roscore","tooltip":"","group":"2a7f494d.5d4ff6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":160,"wires":[["ded10a3f.50ec98"]]},{"id":"ded10a3f.50ec98","type":"exec","z":"28c42850.e943b8","command":"roscore","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":320,"y":160,"wires":[["19001e5e.ad26b2"],["19001e5e.ad26b2"],["19001e5e.ad26b2"]]},{"id":"19001e5e.ad26b2","type":"debug","z":"28c42850.e943b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"b86d5aff.bfed88","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Rosrun Talker","tooltip":"","group":"2a7f494d.5d4ff6","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":220,"wires":[["5b13cff5.a2a3c"]]},{"id":"5b13cff5.a2a3c","type":"exec","z":"28c42850.e943b8","command":" rosrun rospy_tutorials talker.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":220,"wires":[["559d036e.72328c"],["559d036e.72328c"],["559d036e.72328c"]]},{"id":"559d036e.72328c","type":"debug","z":"28c42850.e943b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"ba466569.d716d8","type":"ui_text","z":"28c42850.e943b8","group":"2a7f494d.5d4ff6","order":7,"width":0,"height":0,"name":"","label":"Echo chatter","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":700,"wires":[]},{"id":"6ca04ab3.a34a24","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Echo chatter","tooltip":"","group":"2a7f494d.5d4ff6","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":600,"wires":[["2874a8bf.6d9788"]]},{"id":"5fa7800c.41696","type":"debug","z":"28c42850.e943b8","name":"Debug rostopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":800,"wires":[]},{"id":"456d2a65.947384","type":"ui_toast","z":"28c42850.e943b8","position":"top right","displayTime":"4","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":840,"wires":[]},{"id":"49093ca8.3e2e34","type":"exec","z":"28c42850.e943b8","command":"rostopic echo /number","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":800,"wires":[["5fa7800c.41696","a0c8dd1f.294a2"],["5fa7800c.41696"],["456d2a65.947384","5fa7800c.41696"]]},{"id":"705a9e40.0287c","type":"ui_switch","z":"28c42850.e943b8","name":"","label":"Echo number","tooltip":"","group":"2a7f494d.5d4ff6","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":800,"wires":[["49093ca8.3e2e34"]]},{"id":"a0c8dd1f.294a2","type":"ui_gauge","z":"28c42850.e943b8","name":"","group":"2a7f494d.5d4ff6","order":10,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#31a331","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":900,"wires":[]},{"id":"33470393.6d936c","type":"ui_group","z":"","name":"System info","tab":"84950823.9f2c48","order":2,"disp":true,"width":8,"collapse":false},{"id":"bf7beb4a.321e98","type":"ui_group","z":"","name":"Memory","tab":"84950823.9f2c48","order":3,"disp":true,"width":"7","collapse":false},{"id":"2a7f494d.5d4ff6","type":"ui_group","z":"","name":"Contol Station","tab":"84950823.9f2c48","order":1,"disp":true,"width":7,"collapse":false},{"id":"84950823.9f2c48","type":"ui_tab","z":"","name":"Boat interface","icon":"dashboard","order":12,"disabled":false,"hidden":false}]